.chatBox {
    width: 100vw;
    height: 100vh;
    border: 1rem solid #EDEADE;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.chat-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.chat-info {
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 2px;
    // >span{
    //     margin:3px;
    // }

}

.user-name {
    font-weight: bold;
    color: #333333;
    margin-left: 3px;
    margin-right: 3px;
}

.chat-time {
    color: #999999;

}

.chat-message {


    margin: 0;
    color: #333;

    background-color: #e0e0e0;
    margin-left: 3px;
    border-radius: 0px 15px 15px 15px;
    padding: 10px 15px;
    display: inline-block;
    max-width: 20rem;
    word-wrap: break-word;

}


