.input-form {
    position: sticky;
    width: 100vw;
    padding: 1rem;
}




form {
    display: flex;
    align-items: center;

}

input {
    background-color: #E0E0E0;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    width: calc(100vw - 10rem);
    box-sizing: border-box;
    font-size: 1rem;
    margin-left: 3rem;
}

.send-button {
    width: 5rem;
    margin-left: 1rem;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.emoji-picker-box {
    position: absolute;
    width: 2rem;
}



.d-block {
    display: block !important;
    position: absolute; // Position the emoji picker absolutely
    bottom: 100%; // Position it above the input field
    z-index: 100;
}

.d-none {
    display: none !important;
    z-index: 10;

}